<html>
  <head>
	<title>{{ title }}</title>
	<script type="text/javascript" src={{ static_url("script/protovis.js") }}></script>
	<link href={{ static_url("css/main.css") }} rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
	<style type="text/css">
	  #viz {
	    width: 600px;
	    height:200px;
	  }
	</style>
  </head>
  <body>
	<h1><a href="/">milk&cereal</a></h1>
	<div class="choices">
	  <span class="choice"><a class="choice" href="/calories">calories</a> |&nbsp</span>
	  <span class="choice"><a class="choice" href="/fiber">fiber</a> |&nbsp</span>
	  <span class="choice"><a class="choice" href="/saltvitamins">salt+vitamins</a></span>
	</div>
	{% block content %}
	{% end %}
  </body>
</html>
