<html>
  <head>
	<title>{{ title }}</title>
	<script type="text/javascript" src={{ static_url("script/protovis.js") }}></script>
	<link href={{ static_url("css/main.css") }} rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
	<style type="text/css">
	  #viz {
	    width: 600px;
	    height:600px;
	  }
	</style>
  </head>
  <body>
	<h1>milk&cereal</h1>
	{% block content %}
	{% end %}
  </body>
</html>
